@media (max-width:480px){
  body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  .main {
    width: 100vw;
    height: 450px;
    border: none;
    display: flex;
    flex-direction: column;
}

.homebackground{
    width: 100vw;
    height: 400px;
    position: absolute;
    top: 10%;
    z-index: 1;
}
.homebackground-overlay{
   display: none;
}
.header {
    display: none;
}
.navigation{
    width: 100vw;
    height: 60px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 1), 0px 8px 32px rgba(0, 0, 0, 1) ;
    background-color: #fff;
    z-index: 4;
    position: relative;
    border: none;
    box-sizing: border-box;
    top: 0;
    padding: 0;
}
.navigation-left{
    width: 80px;
    height: 60px;
    position: absolute;
    justify-content: center;
    left: 5%;
    margin: 0;
}

.navigation-left img{
    width: 80px;
    height: 60px;
}

.navigation-middle{
    display: none;
}

.navigation-right{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    right: 0;
    height: 60px;
}

.search{
    width: 40px;
    height: 40px;
}

.carticon{
    width: 40px;
    height: 40px;
}

.search img{
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    top: 30%;
}

.navigation-right input{
    display: none;
}

.carticon img{
    width: 36px;
    height: 36px;
    position: absolute;
    display: flex;
    top: 22%;
    right: 15%;
}

.nike{
 display: none;
}

.justin{
    font-family: "Poppins", serif;
    position: absolute;
    display: flex;
    z-index: 5;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 480px;
    font-size: 14px;
    top: 44%;
    opacity: 100%;
}

.wordmark{
    font-family: "Poppins", serif;
    position: absolute;
    display: flex;
    z-index: 5;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 100vw;
    top: 46%;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    opacity: 100%;
}

.wordmark1{
    font-family: "Poppins", serif;
    font-size: 16px;
    position: absolute;
    display: flex;
    z-index: 5;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    top: 53%;
    width: 480px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    opacity: 100%;
}

.page1{
    width: 100vw;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.s001{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    position: absolute;
    top: 2%;
  }

  .s002{
    width: 400px;
    font-family: "Poppins", serif;
    position: absolute;
    top: 24%;
  }

  .s003 button{
    font-family: "Poppins", serif;
    position: absolute; 
    top: 38%;
    padding: 10px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
  }

  .collection{
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    z-index: 2;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.s004 img{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
}

.s005 img{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 400px;
}

.s006 img{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 800px;
}

.s007 img{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 1200px;
}

.s008{
    color: #fff;
    position: absolute;
    top: 55%;
    font-family: "Poppins",serif;
    font-size: 20px;
}

.s009{
    color: #fff;
    position: absolute;
    top: 60%;
    font-family: "Poppins",serif;
    font-size: 25px;
}

.s010{
    position: absolute;
    top: 70%;
}

}